.icheckbox_square-blue,
.iradio_square-blue {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0 6px 0 0;
    padding: 0;
    width: 25px;
    height: 24px;
    background: url(../a_images/public/blue.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_square-blue {
    background-position: 0 0;
}
    .icheckbox_square-blue.hover {
        background-position: -25px 0;
    }
    .icheckbox_square-blue.checked {
        background-position: -50px 0;
    }
    .icheckbox_square-blue.disabled {
        background-position: -75px 0;
        cursor: default;
    }
    .icheckbox_square-blue.checked.disabled {
        background-position: -100px 0;
    }

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi), (min-resolution: 1.25dppx) {
    .icheckbox_square-blue,
    .iradio_square-blue {
        background-image: url(../a_images/public/blue@2x.png);
        -webkit-background-size: 250px 24px;
        background-size: 250px 24px;
    }
}
.survey-bg{
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.3);
    z-index:9;
}
.survey-enter{
    width: 552px;
    height: 342px;
    padding: 28px;
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -199px 0 0 -304px;
    box-shadow: 0 0 10px 1px #ccc;
    z-index: 999;
}
.survey-enter-in{
    /* border:1px solid #d1d1d1; */
    width: 512px;
    height: 302px;
    background:url(../a_images/public/inbg.jpg) top left no-repeat #fff;
    background-size: 100% 100%;
    position: relative;
    padding: 20px;
}
span.survey-close{
    position: absolute;
    display: block;
    width: 21px;
    height: 21px;
    background: url(../a_images/public/close.png) no-repeat;
    right: 12px;
    top: 12px;
    cursor: pointer;
}
.survey-enter-in0{
    padding: 0 22px;
}
.survey-enter-in0 h2{
    color: #000000;
    font-size: 24px;
    padding: 24px 0 18px;
}
.survey-enter-in0 p{
    font-size: 18px;
    line-height: 1.6em;
}
.survey-enter-in0 p span{
    color: #0086ef;
}
.survey-enter-in h3{
    margin-top: 24px;
    padding: 24px 22px 46px;
    border-top: 1px dashed #bdbdbd;
    color: #000;
}
.survey-enter-in h3 a{
    color: #0086ef;
    text-decoration: underline;
    float: right;
}
.survey-form{
    width: 160px;
    margin: 0 auto;
    font-size: 16px;
    color: #000;
}
@media (max-width: 830px) {

*{
    /*-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;*/
    word-wrap:break-word;
}
.survey-enter{
    width: 310px;
    height: auto;
    padding: 0;
    margin: -200px 0 0 -155px;
}
.survey-enter-in{
    width: 280px;
    margin: 16px auto;
    padding: 0;
    height: 260px;
}
span.survey-close{
    width: 16px;
    height: 16px;
    background: url(../a_images/public/close.png) no-repeat;
    background-size: 16px 16px;
}
.survey-enter-in0{
    padding: 0 12px;
}
.survey-enter-in0 h2{
    font-size: 16px;
    padding: 14px 26px 8px 0;
    text-align: center;
    line-height: 1.3em;
}
.survey-enter-in0 p{
    font-size: 14px;
}
.survey-enter-in h3{
    width: 242px;
    margin: 14px auto 0;
    padding: 14px 5px 20px;
}
.survey-form{
    font-size: 14px;
    width: 110px;
}
}