@media screen and (max-width: 900px) {
	.scrapWrapper{
		display: none;
	}
	.searchWrapper h2{
		background: none;
		font-size: 16px;
	}
	.searchWrapper .page{
		display: none;
	}
	.scrapWrapper .scrap,.searchWrapper .searchInfo,.goBug{
		width: 94%;
	}
	.tableInfo{
		display: none;
	}
	.goBug .mall,.goBug .yuyue{
		width: 100%;
		margin: 20px auto;
	}
	.goBug .mall a,.goBug .yuyue a{
		width: 100%;
		margin-right: 0;
		margin-bottom: 10px;
	}
	.goBug .yuyue a{
		margin-bottom: 0;
	}
	.goBug .mall a img,.goBug .yuyue a img{
		width: 100%;
	}
	#banner .swiper-slide{
		width: 100%;
	}
	/*#banner .swiper-slide_1{
		background: url(../a_images/public/banner_1_mobile.png) no-repeat right bottom;
		background-size: cover;
	}*/
	/*#banner .swiper-slide_1 .txt{
		width: 80%;
		left: 25px;top: 25px;
	}
	#banner .swiper-slide_1 .linkSee{
		font-size: 12px;
		bottom: auto;
		left: 25px;
		margin-top: 30%;
	}*/
	// #banner .pagination{
	// 	left: 40%;
	// }
	// #banner .banner_1,#banner .banner_2,#banner .banner_3{
	// 	display: none;
	// }
	// #banner .banner_1_mobile,#banner .banner_2_mobile,#banner .banner_3_mobile{
	// 	display: block;
	// }
	#province{
		width: 50%;
	}
	.searchInfo .searchWrapper{
		width: 100%;	
		
	}
	#province_060000{
		margin: 0;
	}
	.searchInfo .gosearch{
		height: auto;
		
	}
	.searchInfo .searchWrapper .selectbox{
		width: 49%;
		margin-right: 1%;
		position: relative;
		background: #ffffff url(../a_images/public/nameicon_blank.png) no-repeat 93% 11px;
		background-size: 20px;
	}
	.searchInfo .searchWrapper .selectbox.mini{
		width: 49%;
	}
	.searchInfo .selectbox{
		width: 37%;
		margin-right: 1%;
		font-size: 14px;
		background: #ffffff url(../a_images/public/nameicon_blank.png) no-repeat 90% 11px;
		background-size: 20px;
		position: relative;
		margin-bottom: 10px;
	}
	.searchInfo .selectbox div.selected{
		width: 80%;
		height: 40px;
		display: box; 
		display: -webkit-box; 
		display: -moz-box;
		-webkit-box-align:center; 
		-moz-box-align:center;
		-o-box-align:center;
		line-height: 16px;
		text-indent: 0;
		box-sizing:border-box;
		padding-left: 15px;
		padding-right: 5px;
	}
	.searchInfo .selectbox.mini{
		width: 37%;
		background: #ffffff url(../a_images/public/nameicon_blank.png) no-repeat 90% 11px;
		background-size: 20px;
	}
	.clear{
		clear: both;
	}
	.searchInfo .selectbox .opts{
		width: 37%;
		background: #ffffff;
	}
	.searchInfo .selectbox .opts a{
		width: 100%;
		height: 40px;
		display: box; 
		display: -webkit-box; 
		display: -moz-box;
		-webkit-box-align:center; 
		-moz-box-align:center;
		-o-box-align:center;
		line-height: 16px;
		box-sizing:border-box;
		padding-left: 15px;
		padding-right: 15px;
		text-indent: 0;
	}
	.searchInfo .selectbox .opts.mini{
		width: 37%;
	}
	.searchInfo .submit{
		width: 24%;
		float: right;
		-webkit-appearance: none;
		border-radius: 0;
	}
	.searchInfo .ulInfo>div{
		display: block;

	}
	.searchInfo .ulInfo ul{
		background: #ffffff;
		border-bottom: 1px solid #dadada;
		padding: 4px 0;
	}
	.searchInfo .ulInfo ul li{
		display: table;
		width: 100%;
		font-size: 14px;
		padding: 6px 0;
		line-height: 16px;
	}
	.searchInfo .ulInfo ul li span{
		display: table-cell;
	}
	.searchInfo .ulInfo ul li .title{
		width: 75px;
		padding-left: 15px;

	}
    .searchInfo .ulInfo ul li .content {
		padding-right: 5px;

	}
	.searchInfo .ulInfo ul li .content img{
		vertical-align: middle;
	}
	#wrapper{
		
		overflow: hidden;
		
	}
	#scroller{
		-webkit-transform:translate3d(0,0,0);
	}
	#pullUp {
		height:40px;
		line-height:40px;
		padding:5px 10px;
		border-bottom:1px solid #ccc;
		font-weight:bold;
		font-size:14px;
		color:#888;
		background: #ffffff;
	}
	#pullDown .pullDownIcon, #pullUp .pullUpIcon  {
		display:block; float:left;
		width:40px; height:40px;
		background:url(../a_images/public/pull-icon@2x.png) 0 0 no-repeat;
		-webkit-background-size:40px 80px; background-size:40px 80px;
		-webkit-transition-property:-webkit-transform;
		-webkit-transition-duration:250ms;	
	}
	#pullDown .pullDownIcon {
		-webkit-transform:rotate(0deg) translateZ(0);
	}
	#pullUp .pullUpIcon  {
		-webkit-transform:rotate(-180deg) translateZ(0);
	}

	#pullDown.flip .pullDownIcon {
		-webkit-transform:rotate(-180deg) translateZ(0);
	}

	#pullUp.flip .pullUpIcon {
		-webkit-transform:rotate(0deg) translateZ(0);
	}

	#pullDown.loading .pullDownIcon, #pullUp.loading .pullUpIcon {
		background-position:0 100%;
		-webkit-transform:rotate(0deg) translateZ(0);
		-webkit-transition-duration:0ms;

		-webkit-animation-name:loading;
		-webkit-animation-duration:2s;
		-webkit-animation-iteration-count:infinite;
		-webkit-animation-timing-function:linear;
	}

	@-webkit-keyframes loading {
		from { -webkit-transform:rotate(0deg) translateZ(0); }
		to { -webkit-transform:rotate(360deg) translateZ(0); }
	}

	#scroller {
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		-webkit-transform: translateZ(0);
		-moz-transform: translateZ(0);
		-ms-transform: translateZ(0);
		-o-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		-webkit-text-size-adjust: none;
		-moz-text-size-adjust: none;
		-ms-text-size-adjust: none;
		-o-text-size-adjust: none;
		text-size-adjust: none;
	}
	// #banner .arrow-left,#banner .arrow-right{display: none}
}
@media screen and (max-width: 900px) {
	.scrapWrapper{
		display: none;
	}
	.searchWrapper h2{
		background: none;
		font-size: 16px;
	}
	.searchWrapper .page{
		display: none;
	}
	.scrapWrapper .scrap,.searchWrapper .searchInfo,.goBug{
		width: 94%;
	}
	.tableInfo{
		display: none;
	}
	.goBug .mall,.goBug .yuyue{
		width: 100%;
		margin: 20px auto;
	}
	.goBug .mall a,.goBug .yuyue a{
		width: 100%;
		margin-right: 0;
		margin-bottom: 10px;
	}
	.goBug .yuyue a{
		margin-bottom: 0;
	}
	.goBug .mall a img,.goBug .yuyue a img{
		width: 100%;
	}

	// #banner .swiper-container{
	// 	height: 300px;
	// }
	// #banner .swiper-slide_1{
	// 	background: url(../../images/InstitutesSearch/banner_1_mobile.png) no-repeat right bottom;
	// 	background-size: cover;
	// }
	// #banner .swiper-slide_1 .txt{
	// 	width: 80%;
	// 	left: 25px;top: 25px;
	// }
	// #banner .swiper-slide_1 .linkSee{
	// 	font-size: 12px;
	// 	bottom: auto;
	// 	left: 25px;
	// 	margin-top: 30%;
	// }
	// #banner .pagination{
	// 	left: 40%;
	// }
	#province{
		width: 50%;
	}
	.searchInfo .searchWrapper{
		width: 100%;	
		
	}
	#province_060000{
		margin: 0;
	}
	.searchInfo .gosearch{
		height: auto;
		
	}
	.searchInfo .searchWrapper .selectbox{
		width: 49%;
		margin-right: 1%;
		position: relative;
		background: #ffffff url(../../images/nameIcon_blank.png) no-repeat 93% 11px;
		background-size: 20px;
	}
	.searchInfo .searchWrapper .selectbox.mini{
		width: 49%;
	}
	.searchInfo .selectbox{
		width: 41%;
		margin-right: 1%;
		font-size: 14px;
		background: #ffffff url(../../images/nameIcon_blank.png) no-repeat 90% 11px;
		background-size: 20px;
		position: relative;
		margin-bottom: 10px;
	}
	.searchInfo .selectbox.mini{
		width: 37%;
		background: #ffffff url(../../images/nameIcon_blank.png) no-repeat 90% 11px;
		background-size: 20px;
	}
	.clear{
		clear: both;
	}
	.searchInfo .selectbox .opts{
		width: 37%;
		line-height: 40px;
		background: #ffffff;
	}
	.searchInfo .selectbox .opts.mini{
		width: 37%;
	}
	.searchInfo .submit{
		width: 100%;
		-webkit-appearance: none;
		border-radius: 0;
		font-size:13px;
		text-align:center
	}
	.searchInfo .ulInfo{
		display: block;

	}
	.searchInfo .ulInfo ul{
		background: #ffffff;
		border-bottom: 1px solid #dadada;
		padding:20px 0;
	}
	.searchInfo .ulInfo ul li{
		display: table;
		width: 100%;
		font-size: 14px;
		line-height: 30px;
	}
	.searchInfo .ulInfo ul li.Detail{
		background:url(../../images/triggle.png) no-repeat 15px center; padding-left:10px;
	}
	.searchInfo .ulInfo ul li span{
		display: table-cell;
	}
	.searchInfo .ulInfo ul li .title{
		width: 75px;
		padding-left: 15px;

	}
	.searchInfo .ulInfo ul li .lookMore{
		padding-left: 15px;
		color:#5a5a5a;
	}
        .searchInfo .ulInfo ul li .content {
		padding-right: 5px;

	}
	.searchInfo .ulInfo ul li .content img{
		vertical-align: middle;
	}
	#wrapper{
		overflow: hidden;
		margin-bottom:0%;
	}
	#scroller{
		-webkit-transform:translate3d(0,0,0);
	}
	#pullUp {
		height:40px;
		line-height:40px;
		padding:5px 10px;
		border-bottom:1px solid #ccc;
		font-weight:bold;
		font-size:14px;
		color:#888;
		background: #ffffff;
	}
	#pullDown .pullDownIcon, #pullUp .pullUpIcon  {
		display:block; float:left;
		width:40px; height:40px;
		background:url(../../images/pull-icon@2x.png) 0 0 no-repeat;
		-webkit-background-size:40px 80px; background-size:40px 80px;
		-webkit-transition-property:-webkit-transform;
		-webkit-transition-duration:250ms;	
	}
	#pullDown .pullDownIcon {
		-webkit-transform:rotate(0deg) translateZ(0);
	}
	#pullUp .pullUpIcon  {
		-webkit-transform:rotate(-180deg) translateZ(0);
	}

	#pullDown.flip .pullDownIcon {
		-webkit-transform:rotate(-180deg) translateZ(0);
	}

	#pullUp.flip .pullUpIcon {
		-webkit-transform:rotate(0deg) translateZ(0);
	}

	#pullDown.loading .pullDownIcon, #pullUp.loading .pullUpIcon {
		background-position:0 100%;
		-webkit-transform:rotate(0deg) translateZ(0);
		-webkit-transition-duration:0ms;

		-webkit-animation-name:loading;
		-webkit-animation-duration:2s;
		-webkit-animation-iteration-count:infinite;
		-webkit-animation-timing-function:linear;
	}

	@-webkit-keyframes loading {
		from { -webkit-transform:rotate(0deg) translateZ(0); }
		to { -webkit-transform:rotate(360deg) translateZ(0); }
	}

	#scroller {
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		-webkit-transform: translateZ(0);
		-moz-transform: translateZ(0);
		-ms-transform: translateZ(0);
		-o-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		-webkit-text-size-adjust: none;
		-moz-text-size-adjust: none;
		-ms-text-size-adjust: none;
		-o-text-size-adjust: none;
		text-size-adjust: none;
	}
}
/*footer*/
.footer .ft_spn_mb{ display:none;}
.footer .ft_wrapper{ width:96%; margin:0 auto;}
.footer .links{ display:inline-block;}
.footer span{ display:inline-block; }
@media screen and (max-width: 800px) {
	.positionSearch .searchBtn{ height:40px; line-height:40px; text-align:center; width:15.155%;}
	
	.positionSearch li.companyName, .positionSearch li.workAdress{ width:43.2%;}
	/*footer*/
	.footer{ height:120px;}
	.footer .ft_spn_mb{ display:inline-block;}
	.footer .ft_spn_pc{ display:none;}
.footer .ft_wrapper{ text-align:center;}
.footer .links{ height:50px; line-height:66px;}
.footer .links a{ margin:0;}
.footer span{ height:25px; line-height:25px;}
}

@media screen and (max-width: 800px) {
	.searchInfo .submit{ font-size:13px; padding:0; height:35px; line-height:35px;}
	.positionSearch li.companyName, .positionSearch li.workAdress{ width:41%;}
}

@media screen and (max-width: 667px) {
	
	.searchInfo .submit{ font-size:15px;}
}

@media screen and (max-width: 500px) {
	.positionSearch .searchBtn{ width:15%;}
}
@media screen and (max-width: 320px) {
	.positionSearch .searchBtn{ width:14.5%;}
}