.clear:after{
    content: '.';
    height: 0;
    overflow: hidden;
    display: block;
    clear: both;
}
.wrapper{
    width: 100%;
    background: #FFFFFF;
}
.wrapper .bodyWrapper{
    width: 1180px;
    margin: 0 auto;
}
.policyPhone_banner, .policyPad_banner{
    display: none;
}
.bodyWrapper .policy_banner{
    width: 100%;
    padding-bottom: 30px;
}
.bodyWrapper .cont-left{
    width: 272px;
    float: left;
}
.bodyWrapper .cont-left P{
    background: #505050;
    width: 100%;
    line-height: 40px;
    text-indent: 16px;
    font-size: 18px;
    font-family: '微软雅黑';
    color: #FFFFFF;
}
.bodyWrapper .cont-left a{
    display: block;
    position: relative;
    background: #dadada url(../a_images/public/nameicon_blank.png) 236px 8px no-repeat;
    margin-top: 5px;
    width: 100%;
    line-height: 40px;
    text-indent: 16px;
    font-size: 16px;
    font-family: '微软雅黑';
    color: #404040;
}
.bodyWrapper .cont-left a.current{
    background: #dadada url(../a_images/public/nameicon_blue.png) 236px 8px no-repeat;
}
.bodyWrapper .cont-right{
    width: 869px;
    float: right;
}
.bodyWrapper .cont-right h1{
    display: block;
    font-size: 24px;
    font-family: '微软雅黑';
    font-weight: bold;
    color: #0e1b8d;
    padding-bottom: 7px;
    border-bottom: 2px #c3c3c3 solid;
}
.bodyWrapper .cont-right .content1{
    padding-bottom: 100px;
    line-height: 28px;
    font-size: 14px;
    font-family: arial, '微软雅黑';
    color: #505050;
}
.bodyWrapper .cont-right .content1 .con-title{
    padding-top: 20px;
    font-weight: bold;
}
.bodyWrapper .cont-right .content3{
    padding: 20px 0 200px;
    line-height: 36px;
    font-size: 14px;
    font-family: '微软雅黑';
    color: #505050;
}
.bodyWrapper .cont-right .content3 p.repairImg-left {
    float: left;
}
.bodyWrapper .cont-right .content3 p.repairImg-right {
    float: right;
}
.bodyWrapper .cont-right .content3 p img {
    width: 100%;
    max-width: 427px;
}
.bodyWrapper .cont-right .content3 a{
    font-size: 14px;
    font-family: '微软雅黑';
    color: #505050;
    text-decoration: underline;
}
.bodyWrapper .cont-right .content3 a:hover{
    color: #073696;
}
.bodyWrapper .cont-right table{
    margin-top: 26px;
}
.bodyWrapper .cont-right .content2, .bodyWrapper .cont-right .content4{
    padding-bottom: 100px;
}
.bodyWrapper .cont-right table th{
    height: 37px;
    background: #8c8c8c;
    border-left: 1px #FFFFFF solid;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: normal;
}
.bodyWrapper .cont-right table td{
    height: 46px;
    background: #efefef;
    border-left: 1px #8c8c8c solid;
    border-bottom: 1px #8c8c8c solid;
    font-size: 14px;
    color: #000;
    font-weight: normal;
}
.content2 th.col1-width{
     width: 333px;
 }
.content2 th.col2-width, .content2 th.col3-width{
    width: 266px;
}
.content2 td.inner-width{
    width: 168px;
}
.bodyWrapper .cont-right table .noleftB{
    border-left: 0;
}
.bodyWrapper .cont-right table .nobottomB{
    border-bottom: 0;
}
.bodyWrapper .cont-right table td.comment {
    padding-top: 6px;
    padding-bottom: 6px;
}
.bodyWrapper .cont-right .content2 td.noleftB{
    padding-left: 13px;
}
.bodyWrapper .cont-right .content2 td.paddingL20{
    padding-left: 20px;
    padding-right: 20px;
}
.bodyWrapper .cont-right .content2 td.paddingL31{
    padding-left: 31px;
    padding-right: 31px;
}
.bodyWrapper .cont-right .content2 td a{
    display: block;
    text-align: center;
    text-decoration: underline;
    color: #013299;
}
.bodyWrapper .cont-right .content4 table td{
    height: 28px;
    text-align: center;
}
.content4 th.col1-width, .content4 th.col2-width, .content4 th.col4-width, .content4 th.col7-width, .content4 th.col8-width{
    width: 173px;
}
.content4 th.col3-width{
    width: 345px;
}
.content4 th.col5-width{
    width: 363px;
}
.content4 th.col6-width{
    width: 155px;
}
.bodyWrapper .cont-right .content4 table td.noleftB, .bodyWrapper .cont-right .content4 table td.paddingL23{
    text-align: left;
    padding-left: 23px;
    line-height: 26px;
}
.content4 table td.paddingL23 .innerPaddingL{
    padding-left: 43px;
}
.content4 table td.titleStyle{
    background: #8c8c8c;
    color: #FFFFFF;
}

/****pad横版****/
@media screen and (max-width: 1200px){
    .bodyWrapper .policy_banner{
        display: none;
    }
    .wrapper .bodyWrapper{
        width: 992px;
    }
    .wrapper .policyPad_banner{
        display: block;
        padding-bottom: 30px;
        width: 100%;
    }
    .bodyWrapper .cont-right{
        width: 692px;
    }
    .content2 th.col1-width {
        width: 271px;
    }
    .content2 th.col2-width{
        width: 222px;
    }
    .content2 th.col3-width {
        width: 170px;
    }
    .content2 td.inner-width {
        width: 103px;
    }
    .bodyWrapper .cont-right .content2 td a {
        padding: 0 24px;
        text-align: left;
    }
    .bodyWrapper .cont-right .content4 table th{
        font-size: 16px;
    }
    .content4 th.col1-width, .content4 th.col2-width{
        width: 140px;
    }
    .content4 th.col3-width{
        width: 273px;
    }
    .content4 th.col4-width, .content4 th.col8-width{
        width: 136px;
    }
    .content4 th.col5-width{
        width: 317px;
    }
    .content4 th.col6-width, .content4 th.col7-width{
        width: 118px;
    }
    .bodyWrapper .cont-right .content4 table td.noleftB{
        padding-left: 11px;
    }
    .train{
        display: block;
        padding-left: 40px;
    }
    .play{
        display: block;
    }
}

/*****pad竖版及手机版*****/
@media screen and (max-width: 900px){
    *{-webkit-text-size-adjust:none;}
    .bodyWrapper .policyPad_banner{
        display: none;
    }
    .policyPhone_banner{
        display: block;
        width: 100%;
        padding-bottom: 30px;
    }
    .wrapper .bodyWrapper{
        width: 100%;
    }
    .bodyWrapper .cont-right{
        float: none;
        margin: 0 16px;
        width: auto;
    }
    .bodyWrapper .cont-right h1{
        font-size: 20px;
        padding: 0 2.6%;
        line-height: 32px;
    }
    .bodyWrapper .cont-right .content1{
        padding: 0 2.6% 15px;
        font-size: 12px;
        line-height: 22px;
    }
    .bodyWrapper .cont-left{
        float: none;
        margin: 40px 16px 100px;
        width: auto;
    }
    .bodyWrapper .cont-left P, .bodyWrapper .cont-left a{
        font-size: 14px;
    }
    .bodyWrapper .cont-left a, .bodyWrapper .cont-left a.current{
        background-position: 95% center;
        background-size: 17px;
    }
    .bodyWrapper .cont-right .content2 table th, .bodyWrapper .cont-right .content4 table th{
        font-size: 14px;
    }
    .content2 th.col1-width, .content2 th.col2-width{
        width: 35%;
    }
    .content2 th.col3-width{
        width: 30%;
    }
    .bodyWrapper .cont-right table td{
        font-size: 12px;
    }
    .bodyWrapper .cont-right .content2, .bodyWrapper .cont-right .content4{
        padding-bottom: 0;
    }
    .bodyWrapper .cont-right .content3{
        font-size: 12px;
        padding-bottom: 0;
    }
    .bodyWrapper .cont-right .content3 a{
        font-size: 12px;
    }
    /*.bodyWrapper .cont-right .content3 p.repairImg {
        float: left;
    }*/
    .content4 th.col1-width, .content4 th.col2-width,.content4 th.col4-width, .content4 th.col8-width{
        width: 170px;
    }
    .content4 th.col3-width, .content4 th.col5-width{
        width: 295px;
    }
    .content4 th.col5-width{
        /*width: 30px;*/
    }
    .content4 th.col6-width, .content4 th.col7-width{
        /*width: 15%;*/
        width: 19%;
    }
    .content4 th.col8-width{
        /*width: 102px;*/
    }
}
@media screen and (max-width: 600px) {
    .content4 th.col5-width{
        width: 30px;
    }
    .content4 th.col6-width, .content4 th.col7-width{
        width: 15%;
    }
    .content4 th.col8-width{
        width: 102px;
    }
    .bodyWrapper .cont-right .content2 td.noleftB,
    .bodyWrapper .cont-right .content2 td.paddingL31,
    .bodyWrapper .cont-right .content2 td a,
    .bodyWrapper .cont-right .content2 td.paddingL20,
    .bodyWrapper .cont-right .content4 table td.noleftB,
    .bodyWrapper .cont-right .content4 table td.paddingL23{
        padding: 0 5px;
    }
}
