 .header .menu_push .m_menu_2 .m_menu_nav{
  padding-top: 17px;
 }
 /*header css*/
 em{
  font-style: normal;
 }
 body{
  margin: 0;
  font-family: Arial,"微软雅黑","黑体",sans-serifs; 
 }
 ul,ul li,p,h1,h2,h3{
   list-style-type: none;
   padding: 0;margin: 0;
 }
 a{
  text-decoration: none;
 }
 .noMargin{
   margin: 0!important;
 }
 .noPadding{
   padding-right: 0!important;
 }
.scrapWrapper{
  width: 100%;height: 65px;
  background: #ffffff;
}
.scrap{
  width: 1180px;height: 100%;
  margin: 0 auto;
  
}
.scrap span{
  color: #757575;
}
.scrap em{
  color: #0c0c0c;
}
#banner{
  width: 100%;height: auto;
  position: relative;
 display: none;
}
#banner .swiper-container{
  width: 100%;
}
#banner .swiper-slide{
  width: 100%;
  /*position: relative;*/
}
#banner .img{
  display: block;
  width: 100%;
  /*position: relative;*/
}
#banner .img_m{
  display: none;
}
/*#banner .mariWrapper{
  width: 1180px;height: 440px;
  overflow: hidden;
  position: absolute;top:0;
}
#banner .swiper-slide_1 >a{
  display: block;
}
#banner .swiper-slide_1 .prod{
  width: 30%;
  position: absolute;bottom: 25px;left:28%; 
}
#banner .swiper-slide_1 .txt{
  width: 23%;
  position: absolute;top:28%;left:0;  
}
#banner .swiper-slide_1 .linkSee{
  width: auto;
  position: absolute;top: 28%;left:0;margin-top: 15%;
} */
#banner .arrow-left{
  display: block;
  position: absolute;
  top:46%;
  left:3%;
  z-index: 10;
}
#banner .arrow-right{
  display: block;
  position: absolute;
  top:46%;
  right:3%;
  z-index: 10;
}
#banner .pagination{
  position: absolute;
  margin: 0 auto;
  bottom: 25px;left: 48%;
}
#banner .pagination span{
  margin-right: 20px;
  display: inline-block;
  width: 13px;height: 12px;
  background: url(../a_images/public/pageicon.png) no-repeat 0 0;
  z-index: 11;
  cursor: pointer;
}
#banner .pagination span.swiper-active-switch{
  background: url(../a_images/public/pageicon_active.png) no-repeat 0 0;
}
span.noMargin{
  margin: 0;
}


/*prodInfoWrapper css*/
.prodInfoWrapper{
  width: 1180px;
  margin: 0 auto;
  margin-bottom: 30px;
  overflow: hidden;
}
.prodInfoWrapper .prodCateLeft,.prodInfoWrapper .prodCateLeft .cateInfo{
  width: 272px;
  height: auto;
  font-size: 18px;
  line-height: 40px;
}
.prodInfoWrapper .prodCateLeft{
  float: left;
}
.prodInfoWrapper .prodCateLeft .prodSearch {
     width: 100%;
     height: 40px;
     margin-bottom: 10px;
     position: relative;
     background: url(../a_images/public/text.png) no-repeat 0 0;
     overflow: hidden;
 }
 .prodInfoWrapper .prodCateLeft .prodSearch .searchBg {
     width: 272px;
     height: 31px;
     margin-top: 4px;
     cursor: pointer;
 }
 .prodInfoWrapper .prodCateLeft .prodSearch input {
     position: absolute;
     top: 4px;
     left: 4px;
     width: 210px;
     height: 32px;
     padding: 0 10px;
     border: none;
     line-height: 32px;
     font-size: 14px;
     color: #9b9c9c;
 }
.prodInfoWrapper .prodCateLeft .titleOut{
  background: #505050;
  color: #ffffff;
  text-indent: 15px;
}
.prodInfoWrapper .prodCateLeft .section_1{
  margin-top:10px;
}
.prodInfoWrapper .prodCateLeft .titleIn{
  background: #dadada;
  color: #404040;
  text-indent: 15px;
}
.prodInfoWrapper .prodCateLeft ul{
  width: 270px;
  border-left: 1px solid #dadada;
  border-right: 1px solid #dadada;
  font-size: 14px;
}
.prodInfoWrapper .prodCateLeft ul li{
  border-bottom: 1px solid #dadada;
  padding-left: 15px;
  width: 255px;
  display: table;
  min-height: 40px;
}
.prodInfoWrapper .prodCateLeft ul li font{
  display: table-cell;
  max-width: 200px;
  line-height: 18px;
  vertical-align: middle;
  height:40px;
}
.prodInfoWrapper .prodCateLeft ul li span{
  display: table-cell;
  width: 18px;height: 17px;
  background: url(../a_images/public/radio.png) no-repeat 0 0;
  float: right;
  margin-top: 12px;
  margin-right: 15px;
  vertical-align: middle;
}
.prodInfoWrapper .prodCateLeft ul li span input{
  display: block;
  width: 120%;height: 120%;
  opacity: 0;
  filter:alpha(opacity=0);
  cursor: pointer;
  margin-left: -5%;
  margin-top: -5%;
  cursor: pointer;
}
.prodInfoWrapper .prodCateLeft ul li span.radio_active{
  background: url(../a_images/public/radio_active.png) no-repeat 0 0;
}
.prodInfoWrapper .prodCateLeft ul li .colorBlue{
  color: #0989ec;
}
.prodInfoWrapper .prodCateRight{
  width: 868px;float: right;
}
.prodInfoWrapper .prodCateRight .CateNames{
  width: 100%;height: 45px;
  border-bottom:2px solid #c3c3c3;  
}
.prodInfoWrapper .prodCateRight .CateNames > div{
  width: 286px;
  margin-right: 5px;
  text-indent: 15px;
  line-height: 40px;
  float: left;
  color: #fff;
  background: #9b9c9c;
}
.prodInfoWrapper .prodCateRight .CateNames .select_box{
  position: relative;
  cursor: pointer;
  z-index: 10;
}
.prodInfoWrapper .prodCateRight .CateNames .select_txt{
  font-size: 18px;
}
.prodInfoWrapper .prodCateRight .CateNames .select_box .option{
  width: 284px;
  border-left: 1px solid #bcbdbd;
  border-right: 1px solid #bcbdbd;
  border-bottom: 1px solid #bcbdbd;
  position: absolute;
  overflow: hidden;
  font-size: 14px;
  display: none;
}
.prodInfoWrapper .prodCateRight .CateNames .cpbj .option{
  width: 370px;
  border:none;
}
.prodInfoWrapper .prodCateRight .CateNames .plfs .option,
.prodInfoWrapper .prodCateRight .CateNames .xscp .option{
    max-height: 250px;
    overflow-y: auto;
}
.prodInfoWrapper .prodCateRight .CateNames .select_box .option a{
  display: block;
  background: #bcbdbd;
  font-size: 18px;
}
.prodInfoWrapper .prodCateRight .CateNames .select_box .option a:hover{
  color: #0989ec;
}
.prodInfoWrapper .prodCateRight .CateNames .icon{
   display: inline-block;
   width: 24px;height: 23px;
   float: right;
   margin-right: 15px;
   margin-top: 8px;
   background: url(../a_images/public/nameicon.png) no-repeat 0 0;
}
.prodInfoWrapper .prodCateRight .CateNames >div.cpbj{
  background: #505050;
}
.prodInfoWrapper .prodCateRight .CateNames >div.xscp{
  margin: 0;
}
.prodInfoWrapper .prodCateRight .cpbjList{
  width: 370px;
  background: #095b9e;
  display: none;

}
.prodInfoWrapper .prodCateRight .cpbjList li{
  overflow: hidden;
  background: url(../a_images/public/selebg.png) no-repeat 0 bottom;
}
.prodInfoWrapper .prodCateRight .cpbjList li .prod{
  float: left;
}
.prodInfoWrapper .prodCateRight .cpbjList li .prod img{
  width: 160px;
  margin-left: 20px;
}
.prodInfoWrapper .prodCateRight .cpbjList li .txt{
  float: left;
  margin-left: 25px;
}
.prodInfoWrapper .prodCateRight .cpbjList li strong{
  max-width: 146px;
  text-indent: 0;
  display: block;
  font-size: 18px;
  margin-top: 25px;
  font-weight: normal;
  line-height: 20px;
  padding-bottom: 6px;
  padding-top: 3px;
}
.prodInfoWrapper .prodCateRight .cpbjList li a{
  display: block;
  text-decoration: none;
  text-align: center;
  color: #1b8be9;
  font-size: 15px!important;
  line-height: 20px;
  padding: 5px 10px;
  text-indent: 0;
  background: #ffffff!important;
}
.prodInfoWrapper .prodCateRight .cpbjList img{
  display: block;
  float: left;
}
.prodInfoWrapper .prodCateRight .cpbjList li.doit{
  font-size: 18px;
  padding-top:0;
  text-align: center;
  background: rgb(155, 156, 156);
  color: #ffffff;
  cursor: default;
}
.prodInfoWrapper .prodCateRight .cpbjList li.disabled{
  cursor: pointer;
  background: none;
}
.prodInfoWrapper .prodCateRight .allProds ul {
     width: 100%;
     /* padding-bottom: 40px; */
     overflow: hidden;
 }
 .prodInfoWrapper .prodCateRight .allProds ul li {
     width: 286px;
     float: left;
     padding-right: 5px;
     padding: 40px 0;
     border-bottom: 1px solid #e0e0e0;
 }
 .prodInfoWrapper .prodCateRight .allProds li img,
 .prodInfoWrapper .prodCateRight .allProds li>h2,
 .prodInfoWrapper .prodCateRight .allProds li>p {
     width: 240px;
     position: relative;
     clear: both;
 }
 .prodInfoWrapper .prodCateRight .allProds li>a.add {
     width: 95px;
 }
 .prodInfoWrapper .prodCateRight .allProds li {
     height: 304px;
 }
 /*.prodInfoWrapper .prodCateRight .allProds li>img{
  height: 198px;
}*/
 .prodInfoWrapper .prodCateRight .allProds li>h3{
      width: 240px;
    padding-top:10px;
    position: relative;
    clear: both;
    height:38px;
    overflow:hidden;
 }
 .prodInfoWrapper .prodCateRight .allProds h2 {
     font-size: 18px;
     font-weight: normal;
     line-height: 20px;
 }
 .prodInfoWrapper .prodCateRight .allProds h2 a {
     color: #252525;
 }
 .prodInfoWrapper .prodCateRight .allProds h3 {
     font-size: 14px;
     font-weight: normal;
     line-height: 26px;
 }
 .prodInfoWrapper .prodCateRight .allProds h3 a {
     color: #252525;
 }
  .prodInfoWrapper .prodCateRight .allProds h3 a:hover{
     color: #757575;
 }

 .prodInfoWrapper .prodCateRight .allProds .smalltxt {
     font-size: 14px;
     line-height: 22px;
     color: #727272;
 }
 .prodInfoWrapper .prodCateRight .allProds .money {
     font-size: 14px;
     line-height: 30px;
     color: #232627; 
     display: inline;
 }
 .prodInfoWrapper .prodCateRight .allProds .money a {
     color: #505050;
     float: right;
 }
 .prodInfoWrapper .prodCateRight .allProds .more{
     display: block;
     width: 140px;
     height: 30px;
     font-size: 14px;
     color: #fff;
     text-indent: 10px;
     line-height: 30px;
     background: url(../a_images/public/search.png) no-repeat 0 0;
     float: left;
     margin-left: 4px;
 }
 .prodInfoWrapper .prodCateRight .allProds .bug {
     display: block;
     width: 96px;
     font-size: 14px;
     line-height: 30px;
     background: #0989ec;
     color: #ffffff;
     text-align: center;
     float: left;
 }
 .prodInfoWrapper .prodCateRight .allProds .qd {
     display: block;
     background: #9b9c9c;
     position: absolute;
     top: 30px;
     display: none;
 }
 .prodInfoWrapper .prodCateRight .allProds .qd>a {
     display: block;
     color: #fff;
     text-indent: 12px;
     padding-right: 12px;
     font-size: 15px;
     line-height: 22px;
 }
 .prodInfoWrapper .prodCateRight .allProds .qd>a:hover {
     color: #0989ec;
 }
 .prodInfoWrapper .prodCateRight .allProds .add {
     display: block;
     color: #0989ec;
     font-size: 12px;
     line-height: 30px;
     float: right;
     padding-right: 13px;
 }
 .prodInfoWrapper .prodCateRight .allProds .add em {
     float: right;
     margin-right: 10px;
 }
 .prodInfoWrapper .allProds .pageNum {
 /*     width: 868px; */
     padding-top: 20px;
     padding-bottom: 20px;
     text-align: center;
 }
 .prodInfoWrapper .allProds .pageNum .num {
     display: inline-block;
     /*width: 485px;*/
     margin: 0 auto;
     overflow: hidden;
 }
 /*.prodInfoWrapper .allProds .pageNum span {
     display: block;
     width: 28px;
     height: 25px;
     background: url(../a_images/public/pagenum.png) no-repeat 0 0;
     text-align: center;
     font-size: 12px;
     line-height: 25px;
     color: #717171;
     float: left;
     margin-right: 5px;
     cursor: pointer;
 }
 .prodInfoWrapper .allProds .pageNum span.active {
     width: 26px;
     background: url(../a_images/public/pagenum_active.png) no-repeat 0 0;
     color: #ffffff;
 }
 .prodInfoWrapper .allProds .pageNum span.left {
     background: url(../a_images/public/page_left.png) no-repeat 0 0;
 }
 .prodInfoWrapper .allProds .pageNum span.right {
     background: url(../a_images/public/page_right.png) no-repeat 0 0;
 }
*/
#CMS_TX_PageDown input[type=button] {
    width: 40px;
    height: 21px;
    display: inline-block;
    font-size: 12px;
    line-height: 21px;
    text-align:center;

/*related css*/
 
 .related {
     width: 1150px;
     height: 127px;
     margin: 0 auto;
     padding: 15px;
     margin-top: 20px;
     margin-bottom: 0;
     background: #505050;
     color: #ffffff;
     display: table;
 }
 .related .txtbox{
     width: 400px;
 }
 .related .txtbox,
 .related .imgbox {
     display: inline-block;
     vertical-align: top;
     position: relative;
     padding-left:40px;
 }
 .related .imgboxWrapper{
 	display: inline-block;
 }
 .related .imgbox {
     /*width: 400px;*/
     padding-left: 20px;
 }
 .related .imgbox:first-child {
  padding-left: 0;
 }
 .related .imgbox .img_pc{
  display: block;
 }
 .related .imgbox .img_pad,.related .imgbox .img_mobile{
  display: none;
 }
 .related .imgbox_pad,.related .imgbox_m{
  display: none;
}
 .related .imgbox span {
     line-height: 30px;
     font-size: 14px;
     padding-right:58px;
     display: inline-block;
 }
 .related .imgbox>img {
     width: 100%;
     display: block;
 }
 .related .imgbox a {
     line-height: 30px;
     color: #fff;
     font-size: 12px;
     /*float: right;*/
 }
 .related .first {
    /* width: 65%; */
}
 .related h2 {
     font-size: 24px;
     line-height: 30px;
 }
 .related ul {
     /*width: 325px;*/
     margin-top: 10px;
     padding-left: 15px;
 }
 .related ul li {
     font-size: 14px;
     line-height: 25px;
     list-style-type: disc;
 }
 .related ul li a {
     color: #ffffff;
 }
 #pullUp {
     display: none;
 }

