body {
  font-family: Arial, "微软雅黑", "黑体", sans-serif;
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
h1,
h2,
h3,
h4 {
  font-weight: normal;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
@media (max-width: 780px) {
  .pc {
    display: none;
  }
}
.mb {
  display: none;
}
@media (max-width: 780px) {
  .mb {
    display: block;
  }
}
/************middleNav ***************/
.middleNavWrapper {
  background: #FFF;
  overflow: hidden;
  margin: 40px 50px 23px;
}
@media (max-width: 1280px) {
  .middleNavWrapper {
    margin: 30px 10px 13px;
  }
}
.middleNavWrapper h2 {
  max-width: 1180px;
  margin: 0 auto;
  font-size: 34px;
  color: #333333;
  font-weight: normal;
}
.wrapper {
  background: #ffffff;
  overflow: hidden;
}
/***************mapWrapper********************/
.mapWrapper {
  max-width: 1180px;
  margin: 0 auto;
}
@media (max-width: 1280px) {
  .mapWrapper {
    margin: 0 10px;
  }
}
.mapWrapper a {
  color: #666666;
  text-decoration: none;
  font-size: 14px;
}
.mapWrapper h3 {
  color: #4a4a4a;
  font-size: 26px;
  border-bottom: 1px solid #808080;
  padding: 17px 0;
  margin: 0 0 10px;
}
.mapWrapper > div {
  width: 100%;
}
.mapWrapper > div .mapList {
  float: left;
  width: 260px;
  margin-right: 35px;
  margin-bottom: 60px;
}
@media (max-width: 1280px) {
  .mapWrapper > div .mapList {
    width: 235px;
    margin-right: 15px;
  }
}
@media (max-width: 1010px) {
  .mapWrapper > div .mapList {
    width: 100%;
    margin-bottom: 30px;
  }
}
.mapWrapper > div .mapList > li {
  background: #FFF url("../a_images/public/triggle.png") left 9px no-repeat;
  padding-left: 13px;
  box-sizing: border-box;
  line-height: 30px;
  width: 100%;
}
@media (max-width: 1010px) {
  .mapWrapper > div .mapList > li {
    width: 50%;
    float: left;
  }
}
.mapWrapper > div .mapList > li > a:hover {
  color: #10589e;
  text-decoration: underline;
}
.mapWrapper > div .mapList li.noBg {
  background: none;
  padding-left: 0;
}
.mapWrapper > div .mapList li.special {
  background: #FFF url("../a_images/public/triggle.png") left 12px no-repeat;
  height: 30px;
}
.mapWrapper > div .mapList li.title {
  padding: 8px 12px;
  margin-bottom: 10px;
  height: 40px;
  line-height: 22px;
  width: 100%;
  height: auto;
  line-height: auto;
  background: #1b8be9 url("../a_images/public/line_white.png") 95% 28px no-repeat;
}
@media (max-width: 1010px) {
  .mapWrapper > div .mapList li.title {
    background: #1b8be9 url("../a_images/public/line_white.png") 98% 28px no-repeat;
  }
}
.mapWrapper > div .mapList li.title a {
  color: #FFF;
  font-size: 18px;
}
.mapWrapper > div .mapList li.linkUs,
.mapWrapper > div .mapList li.cuXiao {
  background: #1b8be9 url("../a_images/public/arrow_white.png") 96% center no-repeat;
}
@media (max-width: 1010px) {
  .mapWrapper > div .mapList li.linkUs,
  .mapWrapper > div .mapList li.cuXiao {
    background: #1b8be9 url("../a_images/public/arrow_white.png") 98.5% center no-repeat;
  }
}
.mapWrapper > div :last-child {
  margin-right: 0;
}
.mapWrapper > div .mapList_sy {
  width: 555px;
}
@media (max-width: 1280px) {
  .mapWrapper > div .mapList_sy {
    width: 485px;
  }
}
@media (max-width: 1010px) {
  .mapWrapper > div .mapList_sy {
    width: 100%;
  }
}
.mapWrapper > div .mapList_sy li {
  width: 50%;
  float: left;
}
.mapWrapper > div .mapList_sy li.title {
  background: #1b8be9 url("../a_images/public/line_white.png") 97.5% 28px no-repeat;
}
.mapWrapper > div .mapList_wxfw {
  width: 555px;
}
@media (max-width: 1280px) {
  .mapWrapper > div .mapList_wxfw {
    width: 485px;
  }
}
@media (max-width: 1010px) {
  .mapWrapper > div .mapList_wxfw {
    width: 100%;
  }
}
@media (max-width: 1010px) {
  .mapWrapper > div .mapList_wxfw > li {
    width: 100%;
  }
}
.mapWrapper > div .mapList_wxfw li.title {
  background: #1b8be9 url("../a_images/public/line_white.png") 97.5% 28px no-repeat;
}
.mapWrapper > div .mapList_wxfw .mapList_sec {
  width: 50%;
  float: left;
}
.mapWrapper > div .mapList_wxfw .mapList_sec > li {
  width: 100%;
  float: left;
  background: none;
  padding-left: 13px;
  background: #FFF url("../a_images/public/triggle.png") left 9px no-repeat;
}
.mapWrapper > div .mapList_wxfw .mapList_sec > li a:hover {
  text-decoration: underline;
  color: #10589e;
}
.mapWrapper > div .mapList_wxfw .mapList_sec li.noBg {
  background: none;
  padding-left: 30px;
}
.mapWrapper > div .mapList_wxfw .mapList_sec li.noBg a {
  font-size: 12px;
}
.mapWrapper > div .mapList_wxfw .mapList_sec .mapList_thid li {
  padding-left: 28px;
}
.mapWrapper > div .mapList_wxfw .mapList_sec .mapList_thid li a {
  font-size: 12px;
}
/**** 弹窗 ****/
.wrapper {
  position: relative;
}
.show_pic_wx_serv {
  width: 709px !important;
  position: fixed;
  top: 10%;
  left: 25%;
  display: none;
  z-index: 9999;
}
@media (max-width: 1280px) {
  .show_pic_wx_serv {
    left: 15%;
  }
}
@media (max-width: 980px) {
  .show_pic_wx_serv {
    left: 0%;
    width: 100% !important;
    top: 0%;
  }
}
@media (max-width: 680px) {
  .show_pic_wx_serv {
    top: 3%;
  }
}
.show_pic_wx_serv img {
  width: auto;
}
@media (max-width: 980px) {
  .show_pic_wx_serv img {
    width: 100%;
  }
}
.show_pic_wx_serv .weixin_close {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  left: 87%;
  top: 7%;
  cursor: pointer;
  z-index: 999;
}
@media (max-width: 980px) {
  .show_pic_wx_serv .weixin_close {
    left: 88%;
    top: 7%;
  }
}
@media (max-width: 680px) {
  .show_pic_wx_serv .weixin_close {
    left: 82%;
    top: 4%;
  }
}
