html{background: #fff;}
body{font-size:62.5%;font-family:Helvetica,Arial,"微软雅黑","黑体",sans-serif;position: relative;height: 100%;background: #fff;font-size: 16px;color: #000;margin: 0;padding: 0;}
li{list-style-type:none}
a,a:hover{text-decoration:none!important;}
a:active{text-decoration:none!important;background:none!important}
ul{margin:0}
header{background:#000;box-sizing:border-boxpadding:0;border:0}
.nav_bar{max-width: 1210px;background:#000}
.nav-tabs{border:0}
.navbar{margin-bottom:0;border:0}
.navbar-brand{height:auto}
.nav-tabs>li{margin:0}
.foot-nav .container{ padding: 0 15px !important; }
.col-md-1.left a{cursor:default}

nav #pc_nav .nav.pull-right>li:hover .new-down{ display: block; }
nav #pc_nav .pc>li{line-height:70px;}	
.new-down{ position: absolute; top: 70px; background: #f2f6f7; padding: 20px 30px; width: 280px; right: 0;display: none; z-index: 999999999999 }
.new-down.lvt{ width: 500px; padding: 20px 0;}
.new-down.lvt1{ width: 250px; padding: 20px 0;}
.new-down ul{ padding: 0; }
.new-down ul li{ border-bottom: 1px solid #b9bbbc; }
.new-down ul li:last-child{ border-bottom: 0; }
.new-down ul li a{ color: rgba(0,0,0,0.8) !important; font-weight: bold; font-size: 15px; line-height: 35px;  display: block !important;}
.new-down ul li:hover a{ color: rgba(20,125,211,0.8) !important; }
.new-down dl{ width: 50%; float: left; padding: 0 20px; margin-bottom: 20px; }
.down-line{ position: absolute; top: 20px; bottom: 20px; left: 50%; width: 1px; background: #b9bbbc; }
.new-down dt{ margin-bottom: 0px; font-weight: bold; font-size: 16px;border-bottom: 1px solid #b9bbbc;line-height: 30px; color: #000 !important; }
.new-down dd{ position: relative; padding-left: 15px; font-size: 14px; }
.new-down dd a{ color: rgba(0,0,0,0.8) !important; font-weight: bold; line-height: 30px; display: block !important;}
.new-down dd:hover a{ color: rgba(20,125,211,0.8) !important; }
.new-down dd:before{ content: ""; position: absolute; width: 5px; height: 5px; top: 50%; left: 0; margin-top: -2.5px; border-radius: 50%; background: rgba(0,0,0,0.8); }
.new-down dd:hover:before{background: rgba(20,125,211,0.8); }
.new-down.sk dl{ width: 100%;  }
.new-down.sk{ width: 250px; padding: 20px 0;}

nav #pc_nav .nav.pull-right>li{line-height: 1.5; height: 70px; padding: 25px 0;  }
nav #pc_nav li:hover{background:#f2f6f7}
nav #pc_nav li:hover a{color:#000; font-weight: bold;}
nav #pc_nav li a:hover{background:#f2f6f7}
nav #pc_nav li{position:relative;}
nav #pc_nav .down_menu{position:absolute;bottom:-140px;height:140px;left:15px;right:15px;background:#f2f6f7;visibility:hidden;z-index:2}
nav #pc_nav li:hover .down_menu{padding:10px 0;visibility:visible}
nav #pc_nav li:hover .down_menu li{text-align:left;width:100%;padding-left:2rem;background:0 0;line-height:30px;margin:0;height:auto;border:none}
nav #pc_nav li:hover .down_menu li.active a{color:#0d3995}
nav #pc_nav li:hover .down_menu li a{background:0 0;font-weight:700;color:#000;font-size:16px;padding:0}
nav #pc_nav li a{color:#f4f4f4;border-radius:0;border:0;margin:0;display:inline-block;padding-top:0;padding-bottom:0;}
nav #pc_nav li a{ border-right: 0;}
nav #pc_nav .nav>li>a{ border-right:1px solid #f2f6f7  }
nav #pc_nav li:nth-last-child(1) a{border-right:0}
nav #pc_nav li a:hover{color:#000;border-radius:0}
nav #pc_nav .swiper-slide img{width:auto;max-width: 100%;max-height:100px}
nav #pc_nav li .swiper-slide a{line-height:1.5rem;display:block;padding:0;margin:0;border:0;text-align: center;}
.swiper-slide img{width:100%}
.swiper-wrapper{box-sizing:border-box}
.navbar-toggle{height:70px;margin:0;width:31px;background:url(../a_images/public/nav.png) no-repeat center center;background-size:30px!important;margin-right:10px}
.navbar-toggle.collapsed{background:url(../a_images/public/nav_close.png) no-repeat center center}
.navbar-collapse{border:0}
#mobile_nav{background:#fff;position:absolute;left:-15px;right:-15px;display:none;z-index:99}
#mobile_nav ul{margin:0;padding:0}
#mobile_nav ul li{margin:0; position: relative; }
.m_tab{background:#2d84be;padding-right:0;padding-top:20px}
.m_tab ul li{width:100%;padding-right:20px}
.m_tab ul li div{width:100%;height:100%;padding:10px 0;border-bottom:1px solid #186aa1}
.m_tab ul li:last-child div{border:0}
.m_tab ul li a{font-size:1.7rem;color:#fff}
.m_tab_cont ul{display:none}
.m_tab_cont{padding-top:25px}
.m_tab_cont ul li{max-width:233px;line-height:52px;border-top:1px solid #bfbdbd;margin-left:10px;padding-left:8px;margin-right:10%}
.m_tab_cont ul li.tab_right_menu_h1{border:none;background:#505050;height:40px;line-height:40px}
.m_tab_cont ul li.tab_right_menu_h1 a{color:#FFF;font-size:18px}
.m_menu{min-height:840px;padding-bottom:30px}
.m_menu_nav{float:right;padding-right:8px}
.tab_right_menu_h2>a{color: #000;
    font-size: 16px;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: calc(100% - 27px);
    overflow: hidden;
    height: 52px;
    line-height: 52px;
}
.m_tab_cont .tab_right_menu_h2 ul li a {
   display:block;
}
.m_tab_cont .tab_right_menu_h2 ul li .m_menu_nav img {
   margin:6px 0;
}
.tab_right_menu_h2 .m_menu_nav{padding-right:15px; position: absolute; top: 0; right: 0;}
#mobile_nav .m_tab_cont .tab_right_menu_h2 ul{display:block;margin-top:-10px;padding-bottom:20px}
.m_tab_cont .tab_right_menu_h2 ul li{display:block;border:0;margin:0;height:30px;line-height:30px}
.m_tab_cont .tab_right_menu_h2 ul li a{font-size:1.3rem;color:#858585}

@media (min-width:768px){.collapse-m{display:none!important}
.head_top{display:block}
.navbar-header{width: 137px;}
.navbar-brand{margin-left:0px;}
}
.foot-nav-pc.row{ margin: 0 }
.foot-nav{background:#ebebeb}
.foot-nav-pc{padding:50px 0;display:block}
.footnav{width:20%;float:left;position:relative}
.footnav ul{padding:0}
.footnav-line{position:absolute;right:20%;top:35px;width:1px;height:60px;background:#c3c3c3}
.footnav li{font-size:1.5rem;line-height:30px}
.footnav li strong{margin:0 0 10px;height:30px;line-height:30px;font-size:1.8rem;color:#676767;font-weight:700}
.footnav li a{color:#676767}
.row.foot-nav-pc.friendlink{margin-top:-60px;}
.friendlink a{color:#676767}
footer.container-fluid{background:#000;color:#fff;font-size:14px;line-height:63px;padding:0 30px}
footer .row{margin:0;width:100%}
.footer-ba a{margin:0 5px 0 10px}
footer div{float:left}
footer .footer-nav a{color:#fff;margin-right:5px;padding-right:5px;border-right:1px solid #fff;font-size:14px; white-space: nowrap}
footer .row .footer-nav a:last-child{border-right:0;padding-right:0;margin-right:0}
footer em{font-style:normal;font-family:Helvetica,Arial,"微软雅黑","黑体",sans-serif}
.pc_ban{display:block}
.mobile_ban,.pad_ban{display:none}
@media(max-width:768px){
	footer.container-fluid{line-height:23px;padding:15px 0;
}
.footer-ba a img{width:20px}
.foot-nav-mobile{display:block}
.footnav{width:50%;float:left;position:relative; margin-bottom: 15px; padding-left: 5%; padding-right: 5%;}
.footnav:nth-child(5){width:100%;}
.footnav li{ font-size: 1.3rem; line-height: 2rem }
.foot-nav-pc{ padding: 20px 0; }
.footnav li strong{ font-size: 1.6rem; margin-bottom: 5px; } 
.footnav-line{ display: none;}
footer div{width:100%;text-align:center}

.pc_ban{display:none}
.title-h2{width:120px;padding:0 30px}
.pad_ban{display:block}
.mobile_ban{display:none}}

@media(max-width: 1024px) {
	footer.container-fluid {line-height: 23px; padding: 15px 0;}
	footer div {width: 100%; text-align: center;}
}
@media (max-width:374px){.m_tab ul li a,:;ab_right_menu_h2 a{font-size:1.3rem}}
@media (max-width: 768px){
	.navbar-collapse.collapse{
	display: none!important;
}
	.navbar-toggle{
		display: block;
	}
	.navbar-header{
		float: none;
	}
	.container{
		width: auto;
	}

    .navbar-brand img{width:130px;}
}

.pad_ban{ display: block; }
.pc_ban{ display: none; }
.mobile_ban{ display: none }
@media(min-width:1024px){
.pad_ban{ display: none; }
.pc_ban{ display: block; }
.mobile_ban,{ display: none }
}
@media(max-width:768px){
.pad_ban{ display: none; }
.pc_ban{ display: none; }
.mobile_ban{ display: block }
}
.hide{
  opacity:1;
}
.swiper-button-next,.swiper-button-prev{
  transition:opacity .5s;
}
.news {
    background: #eee;
    font-family: Helvetica,Arial,"微软雅黑","黑体",sans-serif;
    font-size: 16px;
    color:#000;       
}
.news a{
	color: #cfcfcf;
}
.news a:hover{
	color: #ebebeb;
}
.newstitle{
    height: 56px;
    width:48%;
    background-color: black;
    float: left;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
 }
 .title-h2{width:150px;margin:0 auto;padding:0 55px;background:#fff;box-sizing:content-box}
.title-h2 img{width:100%}
.title-line{background:#c3c3c3;height:2px;position:absolute;z-index:-1;top:50%;width:100%}
 .news .swiper-container {
    width:52%;
    height: 56px;
    float: left;
    background-color: black;
}
.news .swiper-slide {
    background: #000;
	color: #ebebeb;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;	
}

@media(max-width:768px){
	.title{ display: none; }
    .newstitle{ display: none; }
    .friendlylist{display: none; }
    .title-h2 {
    width: 110px;
    padding: 0 30px;
    }
    .news .swiper-container {
	width:100%;
	height: 50px;
	font-size:13px;		
	}
	.news .swiper-slide {  
	-webkit-justify-content: center;
	justify-content: center;
}	
